/*------------------------ CONTAINER 7 ------------------------*/
/*
#container7 {
    width: 100%;
    height: 100vh;
    background-image: url("../../../images/container7/man-g1ed46322a_1280.png");
    object-fit: cover;
    margin-top: 160px;
}

.h1top7 {
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 3px;
    color: #414141;
    width: 400px;
    position: relative;
    left: 30px;
    top: 80px;
}

.content7 {
    display: flex;
    align-items: center;
    position: relative;
    top: 30vh;
}

#container7 .part1 img {
    width: 55%;
    position: relative;
    left: 30px;
}

#container7 .part2 {
    border-left: 3px solid black;
    position: relative;
    left: 18vw; 
    width: 400px;
}

#container7 .part2 p {
    color: #414141;
    font-size: 20px;
    margin-left: 25px;
    letter-spacing: 1px;
}

*/

/*------------------------ FIM DO CONTAINER 7 ------------------------*/