/*------------------------ CONTAINER 5 ------------------------*/
/*
.top5 {
    width: 100%;
    height: 420px;
    background-image: url("../../../images/container5/top.png");
    object-fit: fit;
    margin-top: 160px;
}

.h1top5 {
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 3px;
    color: #ffffff;
    width: 410px;
    position: relative;
    top: 130px;
    left: 920px;
}

#container5 {
    height: auto;
    padding: 0;
    background-image: url("../../../images/container5/fundo.png");
    background-repeat: repeat;
    background-position: 100% 180%;
    background-size: 100%;
    margin-bottom: 80px;
    width: 100%;
}

#container5 .content5 img {
    height: auto;
    position: relative;
    left: 33vw;
    padding-top: 80px;
}

*/
/*------------------------ FIM DO CONTAINER 5 ------------------------*/